---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "PUESTO - EMPRESA, PAIS",
    description: "TAREAS",
    link: "#",
  },
  {
    date: "MES AÑO",
    title: "PUESTO - EMPRESA, PAIS",
    description: "TAREAS",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
